body {
  background-color: #444444;
  background-size: cover;
  color: white;
  text-align: center;
}

body.overview {
  background-image: url("../imgs/background.jpg");
}

body.easy_challenge {
  background-image: url("../imgs/background_vogel.jpg");
}

body.amazing_challenge {
  background-image: url("../imgs/background_mountain.jpg");
}

body.power_challenge {
  background-image: url("../imgs/background_power.jpg");
}

body.success {
  background-image: url("../imgs/background_success.jpg");
}

body.report {
  background-color: #3F2F45;
}

.report-main {
  float: left;
  margin: 30px;
  margin-top: 10px;
}
.report-battery {
  margin: 30px;
  margin-top: 10px;
}
.report-main img, .report-battery img {
  width: 25px;
  padding: 1px;
  border-radius: 2px;
}
.report-main img, .report-oil img {
  width: 30px;
  padding: 1px;
  border-radius: 2px;
}

h1 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 36px;
}
.report h1 {
  font-size: 22px;
}
.report-challenger {
  font-size: 36px;
}

h2, h3 {
  font-size: 22px;
  font-weight: 700;
}


.main h2 {
  margin: 0 0;
}
.main .btn-lg {
  height: 80px;
}

.easy h2, .success h2 {
  margin: 10px 0;
}
.easy p, .success p {
  border-radius: 6px;
  padding: 20px;
  font-size: 22px;
  background-color: hsla(360, 0%, 0%, 0.29);
}

.challenge-text p {
  font-size: 14px;
}

.btn {
  text-transform: initial;
}

.btn-primary {
  background-color: hsla(360, 100%, 100%, 0.39);
}

.btn-lg {
  margin-bottom: 10px;
}


.main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 30px;
}

.main.easy {
  margin-top: 150px;
}

.main.success {
  margin-top: 100px;
}

.challenge-icon {
  float: left;
}

.challenge-text {
  text-align: left;
  margin-left: 60px;
}
